<div class="container-fluid collapse-form catg-form">
  <%= form_for category do |f| %>
  <%= f.text_field :name, placeholder: "Name" %></br></br>
  <%= f.text_field :description, placeholder: "Description" %><br/></br>
  <ul class="form-list" align="left">
    <li class="submit"><%= submit_tag "Create Category" %></li>
  </ul>

  <% end %>
<div>
